@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&family=Vollkorn:wght@400;500&display=swap');
/*font-family: 'Mulish', sans-serif;
font-family: 'Vollkorn', serif;*/
/* black: #201412
orange: #DB5029
peach: #EEB8A6
red-brown: #7A2610
orange: #FB3C01
gray: #D9D9D9 
black: #201B1B */
body{
    font-family: 'Mulish', sans-serif;
    margin: 0px;
    background-color: #161B21;
    color: #ebebeb; 
    
}
section{
    display: flex;
    justify-content: space-between;
  
}
div:first-of-type{
    flex: 0 0 50%;
}
div:last-of-type{
    background-color:#FB3C01;
    height: 100vh;
}
img{
    margin-top: 15%;
   height: 80vh
}
h1{
    font-family: 'Vollkorn', serif;
    letter-spacing: 10px;
    word-spacing: 15px;
    color: #EEB8A6 ;
    font-size: 2.5rem;
    margin: 5% 0 7% 20%;
}
label{
    margin-left: 20%;
    font-size: 1.2rem;
}
input:first-of-type, input:nth-of-type(2), input:nth-of-type(3){
    background-color: #D9D9D9 ;
    border-color:#D9D9D9;
    border-style: none;
    width: 10%;
    padding: 5px 0;
    border-radius: 5px;
    margin-left: 32.5%;
    text-align: left;
    
}
input:first-of-type:focus, input:nth-of-type(2):focus, input:nth-of-type(3):focus{
    outline:none;
    border: 1px solid #7A2610;
    border-radius: 5px;
}
input:first-of-type::placeholder, input:nth-of-type(2)::placeholder, input:nth-of-type(3)::placeholder{
    text-align: right;
}
input:nth-of-type(2){
    margin-left: 37.5%;
}
input:nth-of-type(3){
    margin-left: 41.5%;
}
input[type="radio" i] {
    background-color: #D9D9D9 ;
    margin-left: 20%;
}


#activities{
    background-color: #D9D9D9 ;
    width: 300px;
    margin-left: 20%;
    padding: 5px 0;
}
label[for=activities]{
    color:  #ebebeb44;
    font-family: 'Vollkorn', serif;
}

form h3{
    color:  #ebebeb44;
    margin-left: 20%;
    font-family: 'Vollkorn', serif;
}
.results{
    display: flex;
    justify-content: space-around
}
#kcalGrundumsatz, #kJGrundumsatz, #kcalGesamtumsatz, #kJGesamtumsatz{
    margin-left: 25px;
}
button{
    padding: 5px 30px; 
    border-radius: 5px;
    margin-left: 3%;
    background-color: #f0a500;
    border-color:#f0a500;
    border-style: none;
    color: #161B21; 
    font-family: 'Vollkorn', serif;
    font-weight: 500;
}
button:hover{
    background-color: #cf7500;
}
span{
  
  display:block;
  width:71%;
  margin:8% 0 2% 15%;
  border-top: 1px solid #EEB8A6;
}
article h3{
    color: #ebebeb44;
}
/* ------- media queries -------- */
@media all and (max-width: 768px) {
    section{
        display: block;
    }
    h1{
        margin: 2% 0 7% 20%;
    }
    span{
        margin:5% 0 2% 15%;
      }
    .results{
    padding-bottom: 2.2%;
    }
    img{
      display: none;
    }
    div:last-of-type{
        display: none;
    }
 }

 @media all and (max-width: 576px) {
     body{
         background-color: green;
     }
     h1{
       
        letter-spacing: 10px;
        word-spacing: 15px;
        color: #EEB8A6 ;
        font-size: 1.8rem;
        margin: 5% 0 5% 17%;
    }
    input:nth-of-type(2){
        margin-left: 39%;
    }
    input:nth-of-type(3){
        margin-left: 44%;
    }
    button{
        padding: 5px 10px; 
    }
  }